.list{
    display: none;
}
*{
    list-style: none;
    text-decoration: none;
    margin: 0px;
}
.menu li:hover .list{
    display: flex;
    position: absolute;
    flex-direction: column;
    row-gap: 15px;
    background-color: brown;
    padding-left: 0px;
    padding: 40px;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    color: aliceblue;
    background-color: rgba(14, 15, 15, 0.838);
}
.menu li{
    border-top: 1px solid green;
    &:hover{
        border-top: 1px solid red;
    }
}